.draw__area{
    width: 100% !important;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #draw__canvas{
        height: 100%;
        width: 100%;
    }
}


