@import url('https://fonts.googleapis.com/css?family=Lato');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./drawArea.scss";
@import "./floatingMenu.scss";
@import "./footer.scss";
@import "./sidebar.scss";
@import "./tooltip.scss";
@import "./toolbar.scss";

* {
  box-sizing: border-box;
}

:root{
  body {
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  overflow: hidden;
  width: 100%;
}}

header{
    width: 100%;
    height: 5rem;
    background-color: rgb(6, 27, 83);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

p{
    margin: 0 !important;
}

.showDrawTextContainer{
    transform-origin: 0px 0px 0px;
    position: absolute;
    overflow: hidden;
    resize: none;
    display: none;
    outline: none;
    border: 1px solid #eee;
    z-index: 1000;
    font-family: "Roboto Mono";
    width: 14rem;
    height: 57.6px;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    line-height: 1.209;
    white-space: nowrap;
    padding: 0px;
    transform: matrix(1, 0, 0, 1, 458, 590);

}


#fill_shapes{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill_shapes:checked ~ label{
  color: #4A98F7;
}