.sidebar{
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
    width: 14rem;
    z-index: 1000;
}

.colorSidebar{
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
}

.sidebar__box input {
    height: 2rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
}

.sidebar__box__content_box{
    background-color: rgb(238, 238, 238);
    border-radius: 0.6rem;
    border: 2px solid rgb(80, 76, 76);
}

.sidebar__box{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
}

.toolActive{
    background-color: rgb(176, 176, 207);
}