.sidebar{
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(30, 30, 30, 0.7);
    width: 14rem;
    z-index: 1000;
}

.sidebar__box input {
    height: 2rem;
    margin-right: 0.8rem;
    font-size: 1.2rem;
}

.sidebar__box__content_box{
    background-color: rgb(238, 238, 238);
    border-radius: 0.6rem;
    border: 2px solid rgb(80, 76, 76);
}

.sidebar__box-lineWidth{
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    background-color: rgb(255, 255, 255);
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#lineWidth-One, #lineWidth-Two, #lineWidth-three{
    background-color: rgb(3, 0, 0);
    width: 1.2rem;
    border-radius: 0.9rem;
}

#lineWidth-One{
    height: 0.1rem;
}

#lineWidth-Two{
    height: 0.3rem;
}

#lineWidth-three{
    height: 0.5rem;
}

.sidebar__box-circle-shape{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.8rem;
    border: 3px solid #fff;
}

.sidebar__box-rectangle-shape{
    width: 2rem;
    height: 2rem;
    margin-right: 0.8rem;
    border: 3px solid #fff;
}

.sidebar__box-triangle-shape{
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 30px solid rgb(238, 233, 233);
}