.tooltip {
  position: relative;

  .tooltipContent {
    min-width: 4rem;
    width: max-content !important;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem 0.4rem;
  
    position: absolute;
    z-index: 1;
  
    font-size: 1rem;
    display: none;
    
    &.leftArrow::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent black transparent transparent;
    }

    &.topArrow::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }

    &.left{
      left: 4rem;
    }

    &.bottom{
      top: 4rem;
    }
  }

  
  
  &:hover .tooltipContent {
    display: block;
  }
}