.tooltip {
  position: relative;

  .tooltipContent {
    min-width: 4rem;
    width: max-content !important;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem 0.4rem;
  
    position: absolute;
    z-index: 1;
  
    font-size: 1rem;
    display: none;
    
    &.rightArrow::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent black;
    }
    &.right{
      right: 4rem;
    }
  }

  
  
  &:hover .tooltipContent {
    display: block;
  }
}