.tooltip {
  position: relative;

  .tooltipContent {
    min-width: 4rem;
    width: max-content !important;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.4rem 0.4rem;
  
    position: absolute;
    z-index: 1;
  
    font-size: 1rem;
    display: none;
    top: 3rem;
  }

  .left{
    left: 0.4rem;
  }

  .right{
    right:  0.4rem;
  }
  
  &:hover .tooltipContent {
    display: block;
  }
}